body{
font-family: Arial;
margin:0;
background:#f5f5f5;
}

header{
background:#0b1e3d;
color:white;
text-align:center;
padding:40px;
}

nav{
background:#1f2e4a;
text-align:center;
padding:12px;
}

nav a{
color:white;
margin:20px;
text-decoration:none;
font-weight:bold;
}

section{
max-width:1000px;
margin:auto;
padding:40px;
}

.skill-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(200px,1fr));
gap:20px;
}

.job{
background:white;
padding:20px;
margin:20px 0;
border-radius:6px;
box-shadow:0 3px 8px rgba(0,0,0,0.1);
}

footer{
background:#0b1e3d;
color:white;
text-align:center;
padding:20px;
}
